<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto|Raleway|Montserrat|Ubuntu|Fjalla+One|PT+Sans+Narrow|Cabin">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Main Page</title>
</head>
<body>
<main>
    <div class="page">
      <div class="container">
        <h1><a href="/index.html"><img src="/images/potato.jpg"></a></h1>
        <p class="slogan"><span>Kimberley&nbsp;Yung</span></p>
        <p class="subslogan"><span>Software&nbsp;Engineer</span></p>
        <div class="contact">
          <a href="/portfolio" target="_blank"><i class="icon-code"></i></a>
          <a href="https://www.linkedin.com/in/kimberleyyung/" target="_blank"><i class="icon-linkedin-sign"></i></a>
          <a href="https://www.instagram.com/kimberley.yung/" target="_blank"><i class="icon-instagram"></i></a>
          <a href="https://github.com/kyung97" target="_blank"><i class="icon-github"></i></a>
        </div>
        <p class="comingsoon"><span>Website</span></p>
        <p class="comingsoon"><span>Coming&nbsp;Soon!</span></p>
      </div>
    </div>
</main>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<script src="/javascripts/script.js"></script>
</html>
