<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Ubuntu">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">
    <link rel="stylesheet" href="https://s.plurk.com/0e89357f530f0a843c68440a020d4eb5.css">
    <link rel="stylesheet" href="/stylesheets/portfolio.css">
    <title>Resume Profile</title>
</head>
<body>
    <div class="resume">
        <div class="base">
          <div class="profile">
            <div class="photo"><img src="/images/potato.jpg"/></div>
            <div class="info">
              <h4 class="name">Kimberley Yung</h4><small class="job">Software Engineer</small>
            </div>
          </div>

          <!--About Me-->
          <div class="about">
            <h3>About Me</h3>Social Media Marketer and Software Engineer with over 5 years of experience in web-based applications, social networking, blogging, and online advertising. Extensive knowledge of web technologies and current social media platforms. Successfully assesses client's needs, generating options and implementing solutions for social media.
          </div>

          <!--Contact Details-->
          <div class="contact">
            <h3>Contact</h3>
            <div class="call"><i class="fa fa-phone"></i><span></span></div>
            <div class="address"><i class="fa fa-map-marker"></i><span>Toronto, Canada</span></div>
            <br>
            <div class="email"><i class="fa fa-envelope"></i><span></span></div>
            <div class="website"><a href="http://kimberleyyung.me" target="_blank"> <i class="fa fa-home"></i><span>kimberleyyung.me</span></a></div>
          </div>

          <!--Social Media-->
          <div class="follow">
            <h3>Download Resume</h3>
            <a href="/file/Kimberley_Resume.pdf" download>
              <img src="/images/download.png" alt="Download" style="margin-left: auto; margin-right: auto; display: block;">
            </a>
          </div>
        </div>

        <div class="func">
            <!--Work Experience-->
          <div class="work">
            <h3><i class="fa fa-briefcase"></i>Work Exrerience</h3>
            <ul>
                <li><span>Telus<br>Sales Representative</span><small>October 2023 - Now</small></li>
              <li><span>GET-TECH Solutions<br>Software Engineer</span><small>October 2022 - Feburary 2025</small></li>
              <li><span>Rainbow Jade<br>Sales Representative</span><small>January 2022 - January 2023</small></li>
              <li><span>Optus<br>Sales Supervisor/Business Specialist</span><small>Feburary 2017 - March 2021</small></li>
              <li><span>Amplify Group Pty Ltd<br>Graphics Designer/Website Designer</span><small>January 2014 - January 2021</small></li>
            </ul>
          </div>

          <!--Education-->
          <div class="edu">
            <h3><i class="fa fa-graduation-cap"></i>Education</h3>
            <ul>
              <li><span>Software Engineering Technician<br>Centennial College</span><small>January 2022 - April 2023</small></li>
              <li><span>Digital and Social Media Marketing<br>Australian Pacific College</span><small>April 2020 - April 2021</small></li>
              <li><span>Design and Visual Communication<br>Swinburne University</span><small>January 2016 - January 2017</small></li>
            </ul>
          </div>

          <!--Programming Skills-->
          <div class="skills-prog">
            <h3><i class="fa fa-code"></i>Programming Skills</h3>
            <ul>
              <li data-percent="92"><span>HTML/CSS</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="96"><span>JavaScript</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="40"><span>C#</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="60"><span>Java</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="33"><span>NodeJS</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="52"><span>React</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
              <li data-percent="20"><span>SQL</span>
                <div class="skills-bar">
                  <div class="bar"></div>
                </div>
              </li>
            </ul>
          </div>

          <!--Software-->
          <div class="software">
            <h3><i class="fa fa-star"></i>Software</h3>
            <div class="software-items">
              
            </div>
          </div>

          <!--Languages-->
          <div class="skills-soft">
            <h3><i class="fa fa-th-list"></i>Languages</h3>
            <ul>
              <li data-percent="100">
                <svg viewbox="0 0 100 100">
                  <circle cx="50" cy="50" r="45"></circle>
                  <circle class="cbar" cx="50" cy="50" r="45"></circle>
                </svg><span>English</span><small></small>
              </li>
              <li data-percent="50">
                <svg viewbox="0 0 100 100">
                  <circle cx="50" cy="50" r="45"></circle>
                  <circle class="cbar" cx="50" cy="50" r="45"></circle>
                </svg><span>Mandarin</span><small></small>
              </li>
              <li data-percent="40">
                <svg viewbox="0 0 100 100">
                  <circle cx="50" cy="50" r="45"></circle>
                  <circle class="cbar" cx="50" cy="50" r="45"></circle>
                </svg><span>Cantonese</span><small></small>
              </li>
            </ul>
          </div>
 
        </div>
      </div>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="/javascripts/portfolio.js"></script>
</html>
